*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color : #007bff;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}